.container a {
    color: rgb(94, 88, 88);
    font-weight: bold;
}

.navbar {
    border-bottom: 1px solid #ccc;
}
header.masthead{
    text-align:center;
    padding-top: 50px;
    padding-bottom: 60px;
}

.wisdom {
    color: #bbb;
}

.imgDiv img {
    width: 190px;
    height: 190px;
}

.card-item {
    border: 1px solid #ccc;
    width: 150px;
}
.fa-github { color: gray; }
.fa-twitter { color: gray; }
.fa-linkedin { color: gray; }

.fa-github:hover { color: rgb(54, 54, 54); }
.fa-twitter:hover { color: rgb(54, 54, 54); }
.fa-linkedin:hover { color: rgb(54, 54, 54); }