.navbar {
    border-bottom: 1px solid #ccc;
}
header.masthead{
    text-align:center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.imgDiv img {
    width: 230px;
    height: 230px;
}

.card-item {
    border: 1px solid #ccc;
    width: 150px;
}