<app-navigation></app-navigation>
  
<div class="container">
    <div class="row h-50">
      <div class="col-4"></div>
      <div class="col-4 imgDiv d-none d-md-block">
        <img class="img-fluid d-block mx-auto shadow-md rounded-circle" 
            style="border: 1px solid #ddd;" src="../assets/me.jpeg" />
      </div>
      <div class="col-4 d-block d-md-none">
        <img class="img-fluid d-block mx-auto shadow-md rounded-circle" 
            style="border: 1px solid #ddd;" src="../assets/me.jpeg" />
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row mt-3">
        <div class="col text-center"><h3>Thiago Siqueira</h3></div>
    </div>
    <div class="row">
        <div class="col text-center">Husband, Dad, Software Engineer, Scuba Diver</div>
    </div>
    <div class="row mt-3 offset-5">
      <div class="col-1"><a target="_blank" href="https://www.linkedin.com/in/thiagonsiq"><i class="fab fa-2x fa-linkedin"></i></a></div>
      <div class="col-1"><a target="_blank" href="https://github.com/thiagonsiq"><i class="fab fa-2x fa-github"></i></a></div>
      <div class="col-1"><a target="_blank" href="https://twitter.com/thiagonsiq"><i class="fab fa-2x fa-twitter"></i></a></div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-10">
        <p>
          I'm a Principal Software Engineer at <a target="_blank" href="https://global.hitachi-solutions.com/">Hitachi Solutions America</a> where our 
          focus is to deliver high quality solutions in various domains.
        </p>
        <p>
          Prior to that, I spent a year and a half as a Consulting Manager at <a target="_blank" href="https://www.prudential.com">Prudential</a> and
          five years as a Software Engineer Manager at <a target="_blank" href="https://www.moodysanalytics.com">Moody's Analytics</a>.
        </p>
        <p>
          Work aside, I'm a husband and father of two beautiful kids, and whenever I can, I try to be underwater or shooting some paint.
          I am a PADI certified Rescue Scuba Diver with (currently) over 40 dives. There's nothing quite like the experience of being completely
          underwater, in a place where it is pretty obvious we are just visitors. My other hobby of choice is Paintball, where the
          adrenaline and physical nature of the sport drew me in years ago.
        </p>
        <p>
          After family and hobbies, I like to spend time listening to podcasts, watching training videos, or playing with new technology
          to learn new things and stay current with today's fast moving technology.
        </p>
        <br/>
        <blockquote class="blockquote text-center">
          <p class="mb-0">Live as if you were to die tomorrow. Learn as if you were to live forever.</p>
          <footer class="blockquote-footer">Mahatma Gandhi</footer>
        </blockquote>
        <blockquote class="blockquote text-center">
          <p class="mb-0">Learning is not attained by chance, it must be sought for with ardor and attended to with diligence.</p>
          <footer class="blockquote-footer">Abigail Adams</footer>
        </blockquote>
      </div>
    </div>
</div>

<router-outlet></router-outlet>
